/*========== Color ====================*/

.header-top .info li i,
.main-menu .navigation > li.current > a, .main-menu .navigation > li:hover > a,
.about-section .content_block_1 .content-box h3,
.content_block_2 .content-box .inner-box .single-item .inner .icon-box,
.news-block-one .inner-box .lower-content h3 a:hover,
.news-block-one .inner-box .lower-content .post-info li a:hover,
.main-footer .right-column .subscribe-box .form-group button:hover,
.main-footer .post-widget .post h6 a:hover,
.main-footer .links-widget .links-list li a:hover,
.main-footer .widget-section .contact-widget .info-list li i,
.team-block-one .inner-box .lower-content h5 a:hover,
.main-header.style-two .header-upper .upper-info li h6 a:hover,
.footer-bottom p a:hover,
.page-title .content-box .bread-crumb li a:hover,
.content_block_6 .content-box .inner-box .left-column .icon-box,
.content_block_6 .content-box .support-box h3 a,
.process-block-one .inner-box .icon-box,
.accordion-box .block .acc-btn.active h5,
.accordion-box .block .acc-btn.active .icon-outer,
.service-details-content .content-two .single-item .icon-box,
.service-details-content .two-column .text h4,
.logged-in-as a:last-child,
.contact-style-two .info-inner .info-list li i,
header.main-header.style-four .menu-right-content i,
.service__block2 .icon,
.service__block2 h4 a:hover,
.about__section2 .content__block ul.tab-btns li.tab-btn.active-btn,
.service__block3 .icon,
.pricing__block .price,
.team__block .social-links li a:hover,
.workprocess__block .count,
.whychoose__block .icon,
.service__block .icon,
header.main-header.style-three .menu-right-content i,
.news__block h4 a:hover,
.hidden-sidebar .contact-widget .info-list li i,
.hidden-sidebar .copyright-text a

{
	color:#7dae05!important;
}

/*==============================================
   Theme Background Css
===============================================*/
.woocommerce #place_order, .woocommerce #respond input#submit, .woocommerce a.button, .woocommerce button.button, .woocommerce input.button,
.theme-btn.style-one,
.banner-carousel .owl-nav .owl-prev, .banner-carousel .owl-nav .owl-next,
.scroll-top,
.image_block_1 .image-box:after,
.service-block-one .inner-box .image-box:before,
.service-block-one .inner-box .lower-content .icon-box,
.service-block-one .inner-box .lower-content .link a:hover,
.pricing-block-one .icon-box,
.pricing-block-one .inner-box .link a:hover,
.cta-section .inner-box .btn-box .theme-btn:before, .cta-section .inner-box .btn-box .theme-btn:after,
.news-block-one .inner-box .lower-content .link a:hover,
.main-footer .right-column .social-links li a:hover,
.main-footer .footer-logo,
.main-footer .links-widget .links-list li a:before,
.main-footer .widget-section .contact-widget .btn-box a:hover,
.team-block-one .inner-box .lower-content .social-links li a:hover,
.content_block_5 .content-box .lower-box .right-content,
.progress-box .bar-inner,
.feature-block-one .inner-box .bg-layer:before,
.main-header.style-two .outer-box .social-links li a:hover,
.image_block_3 .image-box .bottom-content,
.process-block-one .inner-box .icon-box:before,
.service-sidebar .categories-widget .widget-title,
.service-sidebar .download-borucher a,
.widget_search .sidebar-search-box form input,
.widget_categories ul li a:hover:before,
.widget_tag_cloud .tagcloud a:hover,
blockquote,
.tags.pull-left a:hover,
.blog-details-content .post-share-option .social-links li a:hover,
.blog-details-content .comments-area .comment .text-holder.text a,
.add-comment-box #add-comment-form .button-box button,
header.main-header.style-four .side-menu,
.theme-btn.style-three,
section.why_chooseus.style-two,
.cta__section,
.testimonials__section .owl-theme .owl-nav .owl-prev:hover:after, .testimonials__section .owl-theme .owl-nav .owl-next:hover:after,
.pricing__section .pricing-tabs .tab-btns .active-btn,
.team__block .social-links:before,
.news__section .owl-theme .owl-nav .owl-prev:hover:after, .news__section .owl-theme .owl-nav .owl-next:hover:after,
.funfact-section.style-two,
header.main-header.style-three .header-top .top-inner

{
	background: #7dae05!important;
	background-color:#7dae05!important;
}


/*==============================================
   Theme Border Color Css
===============================================*/

.about__section2 .content__block ul.tab-btns li.tab-btn.active-btn,
.news__section .owl-theme .owl-nav .owl-prev:hover:after, .news__section .owl-theme .owl-nav .owl-next:hover:after

{
    border-color: #7dae05!important;  
}

/*==============================================
   RGB
===============================================*/

.video-galler-outer-bg:before {
    background-color: rgba(125,174,5,0.9)!important;
}
.main-slider .content h3:before{
    background: rgba(125,174,5,0.4)!important;
}




