.elementor-53
  .elementor-element.elementor-element-42eac20:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-53
  .elementor-element.elementor-element-42eac20
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-image: url("../../2020/11/shape-5.png");
}
.elementor-53
  .elementor-element.elementor-element-42eac20
  > .elementor-background-overlay {
  opacity: 1;
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-53 .elementor-element.elementor-element-42eac20 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 0px 0px 0px 0px;
}
.elementor-widget-image .widget-image-caption {
  color: var(--e-global-color-text);
  font-family: var(--e-global-typography-text-font-family), Sans-serif;
  font-weight: var(--e-global-typography-text-font-weight);
}
.elementor-53
  .elementor-element.elementor-element-ee30715
  > .elementor-widget-container {
  margin: 10px 0px 0px 0px;
  padding: 0px 0px 10px 0px;
}
.elementor-53
  .elementor-element.elementor-element-02d9f41
  > .elementor-widget-container {
  border-radius: 0px 0px 0px 0px;
}
.elementor-53
  .elementor-element.elementor-element-550a23e
  > .elementor-widget-container {
  margin: 110px 0px 0px 0px;
}
.elementor-53
  .elementor-element.elementor-element-1272c5f
  > .elementor-widget-container {
  margin: 110px 0px 0px 0px;
}
.elementor-53 .elementor-element.elementor-element-d1b4274 {
  width: var(--container-widget-width, 99.497%);
  max-width: 99.497%;
  --container-widget-width: 99.497%;
  --container-widget-flex-grow: 0;
}
.elementor-53
  .elementor-element.elementor-element-d1b4274
  > .elementor-widget-container {
  margin: 110px 0px 0px 0px;
}
.elementor-53 .elementor-element.elementor-element-d1b4274.elementor-element {
  --flex-grow: 0;
  --flex-shrink: 0;
}
.elementor-widget-heading .elementor-heading-title {
  font-family: var(--e-global-typography-primary-font-family), Sans-serif;
  font-weight: var(--e-global-typography-primary-font-weight);
  color: var(--e-global-color-primary);
}
.elementor-53
  .elementor-element.elementor-element-50b3624
  > .elementor-widget-container {
  margin: -65px 0px 0px 69px;
}
.elementor-53
  .elementor-element.elementor-element-50b3624
  .elementor-heading-title {
  font-family: "Open Sans", Sans-serif;
  font-weight: 700;
  color: #ffffff;
}
.elementor-widget-divider {
  --divider-color: var(--e-global-color-secondary);
}
.elementor-widget-divider .elementor-divider__text {
  color: var(--e-global-color-secondary);
  font-family: var(--e-global-typography-secondary-font-family), Sans-serif;
  font-weight: var(--e-global-typography-secondary-font-weight);
}
.elementor-widget-divider.elementor-view-stacked .elementor-icon {
  background-color: var(--e-global-color-secondary);
}
.elementor-widget-divider.elementor-view-framed .elementor-icon,
.elementor-widget-divider.elementor-view-default .elementor-icon {
  color: var(--e-global-color-secondary);
  border-color: var(--e-global-color-secondary);
}
.elementor-widget-divider.elementor-view-framed .elementor-icon,
.elementor-widget-divider.elementor-view-default .elementor-icon svg {
  fill: var(--e-global-color-secondary);
}
.elementor-53 .elementor-element.elementor-element-0a57dc3 {
  --divider-border-style: solid;
  --divider-color: #6c9d50;
  --divider-border-width: 4px;
}
.elementor-53
  .elementor-element.elementor-element-0a57dc3
  > .elementor-widget-container {
  margin: -80px 0px 0px 69px;
  padding: 0px 0px 0px 0px;
}
.elementor-53
  .elementor-element.elementor-element-0a57dc3
  .elementor-divider-separator {
  width: 30%;
  margin: 0 auto;
  margin-left: 0;
}
.elementor-53 .elementor-element.elementor-element-0a57dc3 .elementor-divider {
  text-align: left;
  padding-block-start: 44px;
  padding-block-end: 44px;
}
.elementor-53 .elementor-element.elementor-element-30e3a78 {
  --grid-template-columns: repeat(0, auto);
  --grid-column-gap: 5px;
  --grid-row-gap: 0px;
}
.elementor-53
  .elementor-element.elementor-element-30e3a78
  .elementor-widget-container {
  text-align: center;
}
.elementor-53
  .elementor-element.elementor-element-30e3a78
  > .elementor-widget-container {
  margin: -30px 140px 10px 0px;
}
.elementor-53 .elementor-element.elementor-element-7c0140e {
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0px 0px 0px 0px;
}
@media (max-width: 767px) {
  .elementor-53
    .elementor-element.elementor-element-ee30715
    > .elementor-widget-container {
    margin: 0px 10px 0px 010px;
    padding: 0px 0px 0px 0px;
  }
  .elementor-53
    .elementor-element.elementor-element-550a23e
    > .elementor-widget-container {
    margin: 0px 0px 0px 0px;
  }
  .elementor-53
    .elementor-element.elementor-element-1272c5f
    > .elementor-widget-container {
    margin: 0px 0px 0px 0px;
  }
  .elementor-53
    .elementor-element.elementor-element-d1b4274
    > .elementor-widget-container {
    margin: 0px 0px 0px 0px;
  }
  .elementor-53
    .elementor-element.elementor-element-50b3624
    > .elementor-widget-container {
    margin: -30px 0px 0px 130px;
  }
  .elementor-53
    .elementor-element.elementor-element-0a57dc3
    > .elementor-widget-container {
    margin: -6px 0px 0px 128px;
  }
  .elementor-53
    .elementor-element.elementor-element-0a57dc3
    .elementor-divider-separator {
    width: 43%;
  }
  .elementor-53
    .elementor-element.elementor-element-0a57dc3
    .elementor-divider {
    padding-block-start: 2px;
    padding-block-end: 2px;
  }
  .elementor-53
    .elementor-element.elementor-element-30e3a78
    > .elementor-widget-container {
    margin: 10px 0px 15px 0px;
  }
  .elementor-53
    .elementor-element.elementor-element-a852f4e
    > .elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
  }
}
@media (min-width: 768px) {
  .elementor-53 .elementor-element.elementor-element-4f5a5b6 {
    width: 26.5%;
  }
  .elementor-53 .elementor-element.elementor-element-c440f99 {
    width: 16.833%;
  }
  .elementor-53 .elementor-element.elementor-element-417d259 {
    width: 20.333%;
  }
  .elementor-53 .elementor-element.elementor-element-db973cb {
    width: 36.334%;
  }
}
